<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/nav :: nav"></div>
        <div>
            <div id="userList">
                <div><button data-toggle="modal" data-target="#userModal" class="btn btn-primary">添加</button></div>
                <ul class="list-group" th:each=" user : ${userModel.users}">
                    <li class="list-group-item" th:text="${user.name}"></li>
                </ul>
            </div>
                <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
                    <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">添加用户</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="user" th:action="user" method="post">
                                        <label>用户名:</label><input name="username" type="text"/>
                                        <label>昵称:</label><input name="name" type="text"/>
                                        <input type="submit" value="添加"/>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>