<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <footer class="blog-footer bg-inverse" data-th-fragment="footer">
        <div class="container">
            <p class="text-center text-white">欢迎来到本网站</p>
        </div>
        <script src="../../js/jquery-1.9.1.js" th:src="@{/js/jquery-1.9.1.js}" ></script>
        <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </footer>
</body>
</html>